*{
	outline: none!important;
}

svg{
	margin-right: 7px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.contact-form-input{
    padding: 7px;
    padding-left: 10px;
    border: 0.5px solid #ececec;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    background: white;
    font-weight: 300;
}

.contact-form-textarea{
    padding: 7px;
    padding-left: 10px;
    border: 0.5px solid #ececec;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    background: white;
    font-weight: 300;
}

.leave-message-btn{
    padding-bottom: 2px;
}

.finished-message{
    background: #314231;
    margin-top: -18px;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 18px;
    z-index: 99999;
    width: 100%;
    color: white;
}

.input-desc {
    position: absolute;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color: #a2a2a2;
    display: block;
}

.send-mail{
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding:0px;
    color:#1C7CBE;
    border-color: #1c7cbe;
}

.close-success-message{
    cursor: pointer;
}

.modal-title{
    color: #888887;
}

.modal-header{
    border-bottom: 0.5px solid #e9ecef;
}

.modal-footer{
    border-top: 0.5px solid #e9ecef;
}

.subscribe-field{
    margin-bottom: 0px!important;
}

.send-mail svg{
    margin: 16px;
    font-size: 16px;
    margin-bottom: 13px;
}

.button-subscribe-now{
    background: #f3f3f3;
    border: none;
    cursor: pointer;
    color: #9f9f9f;
    padding: 10px;
    margin-bottom: 13px;
    padding-left: 9px;
    padding-right: 9px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    border: 0.5px solid #ededed;
    border-top: none;
    border-radius: 0;
}

.button-subscribe-now:hover{
    background-color: #878787;
    color: white;
}

.modal-title{
    font-weight: 400;
}

.contact-dialog{
    max-width: 900px;
}

.social-icon{
    border: 0.5px solid #ececec;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    margin-top: -3px;
    margin-bottom: 3px;
    margin-right: 6px;
}

.social-icon:hover{
    color:white;
    background-color:#777777;
    cursor: pointer; 
}

.close-modal{
    font-size:16px;
}

.social-icon svg{
    margin:0px;
}

.company-details-contact-form{
    background: white;
    color: #878787;
    margin-top: -14px;
    margin-bottom: -14px;
    margin-right: -1px;
    margin-left: 1px;
    font-weight: 300;
    padding-top: 15px;
    font-size: 15px;
}

.message-area-contact-form{
    background: #fdfdfd;
    margin-top: -14px;
    margin-bottom: -14px;
    padding-top: 14px;
    margin-left: -1.5px;
    border-right: 0px solid #cfcfcf;
    border-left: 0.5px solid #efefef;
}

.company-details-contact-form h1{
    font-size: 15px;
    font-weight: 400;
}

.company-details-contact-form p{
    margin-bottom: 0px;
}

.company-details-contact-form hr{
    border-top: 0.5px solid #ececec;
    margin-bottom: 19px;
}

.google-map-contact{
    border:none;
    width: 100%;
}

.spinner{
    text-align: center;
    font-size: 50px;
    color: #cbcbcb;
    padding-top: 80px;
    padding-bottom: 80px;
    display: none;
}

.contact-form-send-message{
    color: #fff;
    background-color: #36a236;
    border: none!important;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius:4px;
    cursor:pointer;
}

.contact-form-close-modal{
    color: #9e9e9e;
    background-color: #dbdbdb;
    border: none!important;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    cursor:pointer;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.contact-form-sent-succesfully{
    background-color: #36a236;
    color: white;
    margin-bottom: 0px;
    padding: 12px;
    margin-bottom: 15px;
    border-left: 7px solid #187a18;
    margin: -14px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -15px;
    margin-right: -15.5px;
}

.contact-form-sent-error{
    background-color: #d80000;
    color: white;
    margin-bottom: 0px;
    padding: 12px;
    margin-bottom: 15px;
    border-left: 7px solid #a90000;
    margin: -14px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -15px;
    margin-right: -15.5px;
}

.contact-ip{
    visibility: hidden;
    position:absolute;
}

.modal-content{
    overflow: hidden;
    margin-top: 10px;
}

.contact-form-send-message:hover {
    background-color: #3eb83e;
}

.contact-form-close-modal:hover {
    background-color: #e6e6e6;
}

.message-area-contact-form {
    margin-top: 0px;
}